html { 
  --ui-main-70: hsl(0deg 0% 70%);
  --ui-main-90: hsl(0deg 0% 90%);
}

body {
    font-family: "Noto Sans", sans-serif;
    color: #000000;
    margin: 0;
}

header a {
    text-decoration: none
}

header li {
    text-decoration: none;
    color: #575e75;
    padding: 7px 9px;
    background: #f9fcff;
    filter: brightness(100%);
    border-radius: 3px;
    transition: transform 0.3s ease;
}

header li:hover {
    filter: brightness(95%);
}

.headerpage {
    background: #f1f5f9;
    border-radius: 10px;
    max-height: 90px;
    list-style-type: none;
    display: flex;
    color: #575e75;
}

header ul{
     list-style-type: none;
     display: flex;
      gap: 15px;
      float: right;
      width: 100%;
}

header {
    padding: 15px;
    align-items: center;
    background: #fff;
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.whatsnews {
    align-items: center;
    gap: 20px;
    background-color: #f1f5f9;
    border: 3.5px solid #575e75;
    border-radius: 10px;
    padding: 20px;
    align-content: flex-start;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.whatsnews {
    @media (max-width: 800px) {
        flex-direction: column;
    }
    @media (min-width: 801px) {
        flex-direction: row;
    }
    @media (max-width: 700px) {
        border: none;
    }
}

.whatsnews .part {
    width: 200px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 172px;
    transition: transform 0.3s ease;
}

.whatsnews2 .part {
    width: 300px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 172px;
    transition: transform 0.3s ease;
}

div.content_group.contributors-list {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border: 3.5px solid #575e75;
    border-radius: 10px;
    padding: 20px;
    width: min(calc(100% - 40px), 880px);
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--ui-main-90);
    color: var(--text);
    font-size: 25px;
    border-bottom: 2px solid var(--ui-main-70);
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none;
    transition: 0.3s linear;
    padding: 15px;
    user-select: none;
}

div.content_group.contributors-list > .button.contributor-type1 {
    --button-hov-bg: #cccccc;
    --button-hov-border: #878686;
    flex: 1 1 calc(10% - 4px);
}
div.content_group.contributors-list > .button.contributor-type1 > img {
    width: 40px;
    height: 40px;
}

div.content_group.image-and-text {
  display: flex;
  align-items: center;
  gap: 50px;
}

div.content_group.image-and-text.left {
  flex-direction: row;
}

div.content_group.image-and-text.right {
  flex-direction: row-reverse;
}

div.content_group.image-and-text > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
  width: 50%;
}

div.control-cont {
    @media (max-width: 768px) {
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
    @media (min-width: 769px) { 
        overflow: auto; 
        width: 100%; 
        height: 300px;
        display: flex;
        overflow-x: auto;
        gap: 25px;
    }
}

div.control-cont div.tutorial {
    @media (max-width: 450px) {
        border: none;
        transform: scale(0.8);
        background: #f1f5f98a
    }
    @media (max-width: 400px) {
        transform: scale(0.7);
    }
    @media (max-width: 350px) {
        transform: scale(0.6);
    }
}

div.tutorial {
  border-color: #575e75;
  border-width: 3.3px;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
  border-style: solid;
  width: calc(45% - 20px);
  min-width: 450px;
  max-width: 450px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 30px;
}