body {
 font-family: "Noto Sans", sans-serif;
 margin:0;
 padding:0;
 }

.message {
  margin: 20px;
  width: 80%;
  background-color: gray;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 .messages {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
